.sizeContainer {
  border: 1px solid #707070;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sizeContainer:hover {
  background-color: #e6e6e6;
  transition: 0.2s ease;
}

.sizeContainerActive {
  background-color: #aaaaaa;
  border: 1px solid #aaaaaa;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
