.primaryBtn {
  background-color: #ffc900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 75px;
  margin: auto;
  cursor: pointer;
}

.primaryBtn h1 {
  font-size: 25px;
  font-weight: 500;
}
