nav {
    background: #1a1a1a;
    color:white;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-items: space-between;
}
.outer-ham {
    margin: 10px;
}
.right-commonNav-items {
    display: flex;
    flex-direction: row;
    width: fit-content;
    position: absolute;
    z-index: -9999;
    right: 1%;
}
.right-commonNav-items div {
    padding: 5px 10px;
    margin: 5px;
}
.right-commonNav-items div img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    image-rendering: optimizeSpeed;
}